<h1>Schedules#index</h1>
<p>Find me in app/views/schedules/index.html.erb</p>
<button id="estimate">
estimar
</button><br>
<h3></h3>
<button>
    <%= link_to 'Show', new_ticket_path %>
</button>



<div class="container">
    <div class="row">
        <div class='col-sm-3'>
            <div class="form-group">
                <div class='init_date_picker' >
                    <input type='text' class="form-control form-control-sm" id='init_date_picker'  />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                    </span>
                </div>
                <div class='end_date_picker' >
                    <input type='text' class="form-control form-control-sm" id='end_date_picker' />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
